<div class="editor mat-elevation-z3">
  <div
    class="overlay"
    [class.show]="_showOverlay"
    [style.background-color]="
      isCreateSuccess ? 'rgb(72, 218, 161)' : 'rgb(219, 57, 84)'
    "
  >
    <p>{{ statusMessage }}</p>
  </div>
  <div fxLayout="row" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
      <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="!createMode">
        <app-text-with-label-editable
          fxFlex="80%"
          [icon]="'badge'"
          [label]="'Name'"
          [text]="currencyName"
          (edited)="saveName($event)"
          [editSuccess]="isEditedSuccess"
          [showEditedStatus]="showEditOverlay && editedName"
          (editStatusShown)="editNameShown()"
        ></app-text-with-label-editable>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="!createMode">
        <app-text-with-label-editable
          fxFlex="80%"
          [icon]="'euro'"
          [label]="'Symbol'"
          [text]="currencySymbol"
          (edited)="saveSymbol($event)"
          [editSuccess]="isEditedSuccess"
          [showEditedStatus]="showEditOverlay && editedSymbol"
          (editStatusShown)="editSymbolShown()"
        ></app-text-with-label-editable>
      </div>
      <div
        *ngIf="createMode"
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="start center"
      >
      <div fxLayout="column">
        <app-input
          fxFlex
          [icon]="'badge'"
          [label]="'Name'"
          [(text)]="currencyName"
        ></app-input>
        <app-input
          fxFlex
          [icon]="'euro'"
          [label]="'Symbol'"
          [(text)]="currencySymbol"
        ></app-input>
      </div>
        <button
          id="create-button"
          mat-raised-button
          color="accent"
          (click)="create($event)"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
