<div fxLayout="row" fxFlexFill fxLayoutGap="8px" class="page">
  <div fxFlex="70%" fxLayout="column" fxLayoutGap="8px">
    <div fxFlex="70%" class="container" (mouseenter) ="hoverProducts = true;"  (mouseleave) ="hoverProducts = false;" [class.show-txt]="hoverProducts" 
    (click)="showProducts()">
      <img src="assets/images/warehouse.jpg" alt="Groups" />
      <div><p>Products</p></div>
    </div>
    <div fxFlex="30%" fxLayout="row" fxLayoutGap="8px">
      <div fxFlex="35%" class="container" (mouseenter) ="hoverShops = true;"  (mouseleave) ="hoverShops = false;" [class.show-txt]="hoverShops"
      (click)="showShops()">
        <img mat-card-image src="assets/images/store.jpg" alt="Users" />
        <div><p>Shops</p></div>
      </div>
      <div fxFlex="35%" class="container" (mouseenter) ="hoverBrands = true;"  (mouseleave) ="hoverBrands = false;" [class.show-txt]="hoverBrands"
      (click)="showBrands()">
        <img mat-card-image src="assets/images/brands.jpg" alt="Data view" />
        <div><p>Brands</p></div>
      </div>
      <div fxFlex="30%" class="container" (mouseenter) ="hoverCurrencies = true;"  (mouseleave) ="hoverCurrencies = false;" [class.show-txt]="hoverCurrencies"
      (click)="showCurrencies()">
        <img mat-card-image src="assets/images/money.jpg" alt="Filter" />
        <div><p>Currencies</p></div>
      </div>
    </div>
  </div>
  <div fxFlex="30%" class="container" (mouseenter) ="hoverCategories = true;"  (mouseleave) ="hoverCategories = false;" [class.show-txt]="hoverCategories"
  (click)="showCategories()">
    <img src="assets/images/types.jpg" alt="Sharing documents"/>
    <div><p>Categories</p></div>
  </div>
</div>