<div
  id="make-3D-space"
  fxLayout="column"
  class="product-card-dimen mat-elevation-z1"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
>
  <div id="product-card" [onhoverClass]="'animate'" fxFlex="100%">
    <div
      id="product-front"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxFlex="100%"
    >
      <div class="image_container">
        <img class="image" [src]="product.previewImageUrl" />
        <div class="image_overlay"></div>
        <div id="view_details" (click)="select($event)">View details</div>
      </div>
      <div class="stats">
        <div
          class="stats-container"
          fxLayout="row"
          fxLayoutAlign="space-between start"
        >
          <span class="product_name">{{ product.name }}</span>
          <div fxLayout="row" fxLayoutGap="4px">
            <span class="product_price_currency">{{
              product.currencySymbol
            }}</span>
            <span class="product_price">{{ product.price }}</span>
          </div>
        </div>
        <p class="subtitle">{{ product.subtitle }}</p>
      </div>
    </div>
  </div>
</div>
