.card {
  padding: 22px 8px 8px 8px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 3em;
  position: relative;
}

#icon {
  opacity: 0.7;
  position: absolute;
  top: calc(50% - 12px);
  left: 9px;
}

.input {
  position: relative;

  input {
    padding: 5px 8px 4px 4px;
    border: none;
    background: transparent;
    display: block;
    border-bottom: 1px solid #757575;
    color: #393c45;
    font-size: 16px;
  }

  input:focus {
    outline: none;
  }

  label {
    color: #b1b1b3;
    font-size: 14px;
    cursor: auto;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 2px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -17px;
    font-size: 12px;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before,
  .bar:after {
    content: "";
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #393c45;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
}

.card.disabled {
  #icon {
    opacity: 0.25;
  }

  input {
    border-bottom: 1px solid #b1b1b3;
  }
}
