.container {
  height: 32px;
  margin: 0;
  position: relative;
}

input {
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out 0.3s;
  width: 120px;
  &:focus {
    outline: none;
    transition-delay: 0;
    width: 200px;
    ~ button {
      transform: rotateZ(360deg);
      &.btn-search {
        background: #fc3550;
        color: #fff;
        left: 188px;
        transition-delay: 0;
      }
    }
  }
}
button {
  &.btn-search {
    background: #fc3550;
    border: none;
    padding: 4px;
    position: absolute;
  }
}

button {
  text-align: center;
  &:focus {
    outline: none;
  }
  transition: all 0.3s ease-in-out;
  &.btn-search {
    background: #ccc;
    border-radius: 50%;
    height: 28px;
    left: 108px;
    top: 2px;
    transition-delay: 0.3s;
    width: 28px;
  }
}
