<div fxLayout="column">
  <div class="content" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxFlex="30%" cdkScrollable id="list">
      <div #card *ngFor="let brand of brands">
        <app-brand-card
          [brand]="brand"
          [selected]="isSelected(brand)"
          (click)="select($event, brand)"
        ></app-brand-card>
      </div>
      <app-error-banner *ngIf="error"></app-error-banner>
    </div>
    <div fxFlex="15%"></div>
    <div #editor fxFlex="55%">
      <app-brand-editor
        (edited)="edited($event)"
        (created)="created($event)"
      ></app-brand-editor>
    </div>
  </div>
</div>
