<div
  fxLayout="row"
  fxFlex="100%"
  class="details-panel thin-frame-r4 mat-elevation-z3"
>
  <div class="progress" *ngIf="loading"><mat-spinner></mat-spinner></div>
  <mat-vertical-stepper [linear]="true" #stepper fxFlex>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>

        <div fxLayout="row" fxLayoutGap="14px">
          <div fxLayout="column" fxLayoutGap="14px">
            <mat-form-field>
              <mat-label>Product name</mat-label>
              <input matInput type="text" formControlName="name" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Product subtitle</mat-label>
              <input matInput type="text" formControlName="subtitle" />
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field class="price">
                <mat-label>Product price</mat-label>
                <input matInput type="number" formControlName="price" />
              </mat-form-field>
              <mat-form-field class="currency">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency">
                  <mat-option
                    *ngFor="let option of currencies"
                    [value]="option.id"
                    >{{ option.symbol }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="14px">
            <app-autocomplete
              [label]="'Brand'"
              [allowFreeText]="true"
              (selectionChange)="brandChange($event)"
              (valueChanged)="brandChange($event)"
              [values]="brandsNames"
            ></app-autocomplete>
            <app-autocomplete
              [label]="'Shop'"
              [allowFreeText]="true"
              (selectionChange)="shopChange($event)"
              (valueChanged)="shopChange($event)"
              [values]="shopsNames"
            ></app-autocomplete>
          </div>
        </div>

        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Images</ng-template>

        <div fxLayout="column">
          <div
            fxLayout="row"
            *ngFor="let image of imagesToAdd"
            fxLayoutAlign="start center"
          >
            <mat-icon>image</mat-icon>
            <span>{{ image }}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field>
              <mat-label>Image</mat-label>
              <input
                matInput
                [(ngModel)]="imageToAdd"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="addImage($event)">
              Add
            </button>
          </div>
        </div>

        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Category</ng-template>

        <div fxLayout="column">
          <div
            fxLayout="row"
            *ngFor="let cat of categoriesToAdd"
            fxLayoutAlign="start center"
          >
            <mat-icon>category</mat-icon>
            <span>{{ cat }}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-autocomplete
              [label]="'Category'"
              [allowFreeText]="true"
              (selectionChange)="categoryChange($event)"
              (valueChanged)="categoryChange($event)"
              [values]="categoryNames"
              [selection]="thirdFormGroup.get('category')?.value"
            ></app-autocomplete>
            <button
              mat-raised-button
              color="accent"
              (click)="addCategory($event)"
            >
              Add
            </button>
          </div>
        </div>

        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" (click)="create($event)">
            Create
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
