/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #085078,
    #85d8ce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #085078,
    #85d8ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrollable {
  overflow: auto;
}

.thin-frame {
  border: 1px solid lightslategrey;
}

.thin-frame-r4 {
  border: 1px solid darkgray;
  border-radius: 4px;
}

.thin-frame-faded6 {
  border: 1px solid rgba(169, 169, 169, 0.6);
}

.thin-frame-faded4 {
  border: 1px solid rgba(169, 169, 169, 0.4);
}
