.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
}

.main-menu {
  // background: #136a8a; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to bottom,
  //   #267871,
  //   #136a8a
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to bottom,
  //   #267871,
  //   #136a8a
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: #43cea2; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to top,
  //   #185a9d,
  //   #43cea2
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to top,
  //   #185a9d,
  //   #43cea2
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

li a {
  height: 48px;
  cursor: pointer;
}

.main-menu .nav-icon {
  width: 60px;
  height: 100%;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

.main-menu li > a {
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  width: 250px;
}

.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
